ollama
TTS
ffmpeg-python
demucs
whisperx
pydub
audiotsm
requests
torch==2.4.0
torchvision==0.19.0
torchaudio==2.4.0
numpy<2.0.0
setuptools
tqdm
streamlit
watchdog
python-dotenv
pyloudnorm
huggingface-hub
pyphen
transformers<4.45.0
nvidia-cudnn-cu11==8.9.6.50
